html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 6.4rem;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 3.6rem;
  font-weight: 500;
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 10px 15px;
  color: #006d77;
  border: solid 2px #006d77;
  display: inline;
}

h4 {
  font-size: 4.8rem;
  font-weight: 300;
  color: #409299;
  text-align: center;
}

h5 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #409299;
  text-align: center;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

a {
  color: #e8fbfd;
  text-decoration: none;
}

.icons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
@media screen and (max-width: 425px) {
  .icons-container {
    justify-items: center;
    gap: 15px;
  }
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .icon {
    width: 25px;
  }
}
@media screen and (max-width: 425px) {
  .icon__img {
    width: 100%;
  }
}
.icon__title {
  font-size: 1.6rem;
  color: #99bb80;
  padding: 0 10px;
}
@media screen and (max-width: 425px) {
  .icon__title {
    display: none;
  }
}

.mini-icon {
  width: 25px;
  height: 25px;
}
.mini-icon__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #409299;
  background-color: transparent;
  color: #409299;
  font-size: 2.4rem;
  text-align: center;
  transition: all 0.3s;
}
.button:hover {
  background-color: #409299;
  color: #e8fbfd;
  cursor: pointer;
}

.button-secundary {
  background-color: #99bb80;
  color: #e8fbfd;
  border: none;
  box-shadow: 1px 2px 3px rgba(49, 66, 36, 0.4);
}
.button-secundary:hover {
  background-color: #e8fbfd;
  color: #99bb80;
}

.glass-button {
  padding: 8px 12px;
  background-color: #80b6bb;
  color: #e8fbfd;
  border: none;
  box-shadow: 1px 2px 3px rgba(49, 66, 36, 0.4);
  font-size: 1.4rem;
}
.glass-button:hover {
  color: #006d77;
  background-color: #80b6bb;
}

.top-menu {
  display: flex;
  padding: 25px 50px 10px 0;
  justify-content: flex-end;
  gap: 20px;
}
@media screen and (max-width: 425px) {
  .top-menu {
    justify-content: center;
    padding: 15px 0;
  }
}
.top-menu__item {
  cursor: pointer;
  width: 48px;
  height: 48px;
}
.top-menu .email {
  background-image: url(../../img/email.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
}
.top-menu .email:hover {
  background-image: url(../../img/email-hover.svg);
}
.top-menu .github {
  background-image: url(../../img/github-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s;
}
.top-menu .github:hover {
  background-image: url(../../img/github-button-hover.svg);
}

.project-card {
  border-radius: 10px;
  height: 345px;
  overflow: hidden;
  background-color: #e8fbfd;
  box-shadow: 2px 4px 9px 2px rgba(0, 0, 0, 0.35);
  position: relative;
}
.project-card:hover .project-card__glass {
  bottom: 30%;
}
.project-card__img-container {
  display: block;
  width: 100%;
  height: 259px;
  overflow: hidden;
}
.project-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-card__icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 5px;
}
@media screen and (max-width: 1024px) {
  .project-card__title {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .project-card__title {
    font-size: 1.3rem;
  }
}
.project-card__glass {
  width: 929px;
  height: 559px;
  background-image: radial-gradient(52.24% 52.24% at 50.05% 47.76%, rgba(109, 149, 80, 0.9) 80%, rgba(153, 187, 128, 0.95) 100%);
  border: 1px solid #919696;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(153, 187, 128, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  left: -70%;
  bottom: 110%;
  transition: all 0.3s;
}
@media screen and (max-width: 1024px) {
  .project-card__glass {
    width: 790px;
  }
}
.project-card__glass-content {
  width: 40%;
  height: 180px;
  padding: 0 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.project-card__description {
  text-align: justify;
  color: #fff;
  font-size: 1.2rem;
}
.project-card__buttons-container {
  width: 100%;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}
.project-card__link {
  text-decoration: none;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
}

.contact {
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 100%;
  height: 559px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .contact {
    margin: 25px auto;
  }
}
@media screen and (max-width: 768px) {
  .contact {
    width: 87%;
    flex-direction: column;
    height: 570px;
  }
}
.contact__title-container {
  width: 43%;
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .contact__title-container {
    width: 100%;
    height: 46px;
    border-top: 2px solid #409299;
    border-left: 2px solid #409299;
    border-right: 2px solid #409299;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
.contact__title {
  font-size: 6.4rem;
  color: #006d77;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact__title {
    font-size: 2.4rem;
  }
}
.contact__content-container {
  flex-grow: 1;
  height: 100%;
  padding: 63px 150px;
  background-color: #80b6bb;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .contact__content-container {
    padding: 63px 50px;
  }
}
@media screen and (max-width: 768px) {
  .contact__content-container {
    width: 100%;
    padding: 56px 64px;
    border-right: 2px solid #409299;
    border-bottom: 2px solid #409299;
    border-left: 2px solid #409299;
  }
}
@media screen and (max-width: 425px) {
  .contact__content-container {
    padding: 25px 15px;
    flex-grow: unset;
    height: auto;
  }
}
.contact__content-container::before {
  content: "";
  position: absolute;
  width: 909px;
  height: 909px;
  border-radius: 50%;
  z-index: 1;
  background-color: #fff;
  left: -812px;
  top: -174px;
}
@media screen and (max-width: 425px) {
  .contact__content-container::before {
    display: none;
  }
}
.contact__form {
  width: 387px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
@media screen and (max-width: 425px) {
  .contact__form {
    width: 100%;
  }
}
.contact__input-container {
  width: 100%;
  height: 48px;
}
.contact__label {
  padding: 0 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
  border-bottom: 3px solid #e8fbfd;
}
.contact__input {
  flex-grow: 1;
  height: 100%;
  vertical-align: bottom;
  font-size: 2.4rem;
  border: none;
  background-color: transparent;
  color: #e8fbfd;
  outline: none;
}
.contact__input::-moz-placeholder {
  color: #e8fbfd;
  opacity: 0.6;
}
.contact__input::placeholder {
  color: #e8fbfd;
  opacity: 0.6;
}
.contact__comment {
  outline: none;
}
.contact__error-icon {
  display: none;
}
.contact__error {
  height: 10px;
  font-size: 1.2rem;
  text-align: right;
  color: #fa0101;
  font-weight: 500;
  display: none;
}
.contact__comment {
  height: 192px;
  border-radius: 10px;
  background-color: #e8fbfd;
  padding: 10px;
  font-size: 1.6rem;
  color: #919696;
}
.contact__comment::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
}
.contact__comment::placeholder {
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
}
.contact__img {
  position: absolute;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .contact__img {
    width: 173px;
    left: 40%;
  }
}
@media screen and (max-width: 768px) {
  .contact__img {
    width: 173px;
    left: 31.5px;
  }
}
@media screen and (max-width: 425px) {
  .contact__img {
    display: none;
  }
}

.header {
  width: 100%;
  max-width: 1440px;
  height: 650px;
  background-image: radial-gradient(100% 516.28% at 1.18% 100%, #00282c 0%, #006d77 100%);
  display: flex;
  box-shadow: 0 4px 13px rgba(0, 0, 0, 0.5);
  margin: auto;
}
@media screen and (max-width: 1440px) {
  .header {
    height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 350px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
.header__img-container {
  width: 30%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 1024px) {
  .header__img-container {
    width: 37%;
  }
}
@media screen and (max-width: 768px) {
  .header__img-container {
    width: 32%;
  }
}
@media screen and (max-width: 425px) {
  .header__img-container {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #e8fbfd;
    margin-top: 25px;
  }
}
.header__img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(80deg, rgba(0, 47, 51, 0.8) 11.79%, rgba(0, 109, 119, 0.33) 51.35%, rgba(0, 109, 119, 0) 74.52%);
  position: absolute;
}
@media screen and (max-width: 425px) {
  .header__img-container::before {
    display: none;
  }
}
.header__photo {
  width: 100%;
}
.header__content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 425px) {
  .header__content {
    width: 100%;
  }
}
.header__text-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .header__text-container {
    padding-top: 10px;
  }
}
.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
}
@media screen and (max-width: 425px) {
  .header__text {
    width: 100%;
  }
}
.header__presentation, .header__description {
  color: #80b6bb;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .header__presentation, .header__description {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 425px) {
  .header__presentation, .header__description {
    font-size: 1.6rem;
  }
}
.header__title {
  color: #e8fbfd;
}
@media screen and (max-width: 1024px) {
  .header__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 425px) {
  .header__title {
    font-size: 3rem;
  }
}
.header__description {
  padding: 0 20px;
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  .header__description {
    padding-bottom: 10px;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 425px) {
  .header__description {
    padding-bottom: 10px;
    font-size: 1.2rem;
  }
}

main {
  width: 100%;
}

.knowledges, .projects {
  width: 100%;
  max-width: 1440px;
  margin-top: 50px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.knowledges__title, .projects__title {
  margin-top: 25px;
  margin-bottom: 30px;
}

.design, .develope {
  width: 100%;
  display: flex;
  background-color: #e8fbfd;
}
@media screen and (max-width: 768px) {
  .design, .develope {
    flex-direction: column;
  }
}
.design__img-container {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .design__img-container {
    width: 100%;
  }
}
.design__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.design__content {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .design__content {
    width: 100%;
  }
}
.design__title {
  margin-bottom: 40px;
}
@media screen and (max-width: 425px) {
  .design__title {
    margin-bottom: 10px;
  }
}
.design__icons {
  margin-bottom: 40px;
}
@media screen and (max-width: 425px) {
  .design__icons {
    margin-bottom: 10px;
  }
}
.design__description {
  color: #409299;
  width: 80%;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .design__description {
    width: 95%;
  }
}
.design__description span {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .develope {
    flex-direction: column-reverse;
  }
}
.develope__img-container {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .develope__img-container {
    width: 100%;
  }
}
.develope__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.develope__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .develope__content {
    width: 100%;
  }
}
.develope__title {
  margin-bottom: 20px;
}
.develope__icons {
  margin-bottom: 20px;
  row-gap: 20px;
}
@media screen and (max-width: 425px) {
  .develope__icons {
    grid-template-columns: repeat(8, 1fr);
  }
}
.develope__description {
  color: #409299;
  width: 80%;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .develope__description {
    width: 90%;
  }
}

.projects {
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .projects {
    width: 87%;
  }
}
.projects__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(325px, 386px));
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .projects__cards {
    grid-template-columns: repeat(2, minmax(325px, 386px));
  }
}
@media screen and (max-width: 425px) {
  .projects__cards {
    grid-template-columns: 325px;
  }
}
.projects__more {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 50px;
  background-image: radial-gradient(100% 516.28% at 1.18% 100%, #00282c 0%, #006d77 100%);
  color: #80b6bb;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    gap: 10px;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.address {
  font-size: 1.6rem;
}/*# sourceMappingURL=styles.css.map */