// icons
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.mobile-425 {
    width: 25px;
  }

  &__img {
    @include media.mobile-425 {
      width: 100%;
    }
  }

  &__title {
    font-size: 1.6rem;
    color: $green;
    padding: 0 10px;

    @include media.mobile-425 {
      display: none;
    }
  }
}

.mini-icon {
  width: 25px;
  height: 25px;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

// Primary Button
.button {
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid $blue;
  background-color: transparent;
  color: $blue;
  font-size: 2.4rem;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    background-color: $blue;
    color: $cyan;
    cursor: pointer;
  }
}

// Secundary Button
.button-secundary {
  background-color: $green;
  color: $cyan;
  border: none;
  box-shadow: $button-shadow;

  &:hover {
    background-color: $cyan;
    color: $green;
  }
}

// Button from the glass of the card hover
.glass-button {
  padding: 8px 12px;
  background-color: $light-blue;
  color: $cyan;
  border: none;
  box-shadow: $button-shadow;
  font-size: 1.4rem;

  &:hover {
    color: $dark-blue;
    background-color: $light-blue;
  }
}

// Nav
.top-menu {
  display: flex;
  padding: 25px 50px 10px 0;
  justify-content: flex-end;
  gap: 20px;

  @include media.mobile-425 {
    justify-content: center;
    padding: 15px 0;
  }

  &__item {
    cursor: pointer;
    width: 48px;
    height: 48px;
  }

  .email {
    background-image: url(../../img/email.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;

    &:hover {
      background-image: url(../../img/email-hover.svg);
    }
  }

  .github {
    background-image: url(../../img/github-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;

    &:hover {
      background-image: url(../../img/github-button-hover.svg);
    }
  }
}

// Card of the projects
.project-card {
  border-radius: 10px;
  height: 345px;
  overflow: hidden;
  background-color: $cyan;
  box-shadow: $card-shadow;
  position: relative;

  &:hover {
    .project-card__glass {
      bottom: 30%;
    }
  }

  &__img-container {
    display: block;
    width: 100%;
    height: 259px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 5px;
  }

  &__title {
    @include media.desktop-1024 {
      font-size: 1.4rem;
    }

    @include media.tablet-768 {
      font-size: 1.3rem;
    }
  }

  &__glass {
    width: 929px;
    height: 559px;
    background-image: radial-gradient($card-glass-bg);
    border: 1px solid $gray;
    border-radius: 50%;
    box-shadow: $card-glass-shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    left: -70%;
    bottom: 110%;
    transition: all 0.3s;

    @include media.desktop-1024 {
      width: 790px;
    }
  }

  &__glass-content {
    width: 40%;
    height: 180px;
    padding: 0 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    text-align: justify;
    color: #fff;
    font-size: 1.2rem;
  }

  &__buttons-container {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    text-decoration: none;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
  }
}

// Contact Form
.contact {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 559px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media.tablet-768 {
    margin: 25px auto;
  }

  @include media.tablet-768 {
    width: 87%;
    flex-direction: column;
    height: 570px;
  }

  &__title-container {
    width: 43%;
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: center;

    @include media.tablet-768 {
      width: 100%;
      height: 46px;
      border-top: 2px solid $blue;
      border-left: 2px solid $blue;
      border-right: 2px solid $blue;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &__title {
    font-size: 6.4rem;
    color: $dark-blue;
    text-align: center;

    @include media.tablet-768 {
      font-size: 2.4rem;
    }
  }

  &__content-container {
    flex-grow: 1;
    height: 100%;
    padding: 63px 150px;
    background-color: $light-blue;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    @include media.desktop-1024 {
      padding: 63px 50px;
    }

    @include media.tablet-768 {
      width: 100%;
      padding: 56px 64px;
      border-right: 2px solid $blue;
      border-bottom: 2px solid $blue;
      border-left: 2px solid $blue;
    }

    @include media.mobile-425 {
      padding: 25px 15px;
      flex-grow: unset;
      height: auto;
    }

    &::before {
      content: "";
      position: absolute;
      width: 909px;
      height: 909px;
      border-radius: 50%;
      z-index: 1;
      background-color: #fff;
      left: -812px;
      top: -174px;

      @include media.mobile-425 {
        display: none;
      }
    }
  }

  &__form {
    width: 387px;
    display: flex;
    flex-direction: column;
    gap: 27px;

    @include media.mobile-425 {
      width: 100%;
    }
  }

  &__input-container {
    width: 100%;
    height: 48px;
  }

  &__label {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
    border-bottom: 3px solid $cyan;
  }

  &__input {
    flex-grow: 1;
    height: 100%;
    vertical-align: bottom;
    font-size: 2.4rem;
    border: none;
    background-color: transparent;
    color: $cyan;
    outline: none;

    &::placeholder {
      color: $cyan;
      opacity: 0.6;
    }
  }

  &__comment {
    outline: none;
  }

  &__error-icon {
    display: none;
  }

  &__error {
    height: 10px;
    font-size: 1.2rem;
    text-align: right;
    color: $color-error;
    font-weight: 500;
    display: none;
  }

  &__comment {
    height: 192px;
    border-radius: 10px;
    background-color: $cyan;
    padding: 10px;
    font-size: 1.6rem;
    color: $gray;

    &::placeholder {
      font-family: "Roboto", sans-serif;
      opacity: 0.6;
    }
  }

  &__img {
    position: absolute;
    z-index: 10;

    @include media.desktop-1024 {
      width: 173px;
      left: 40%;
    }

    @include media.tablet-768 {
      width: 173px;
      left: 31.5px;
    }

    @include media.mobile-425 {
      display: none;
    }
  }
}
